<div class="container">
    <div class="row index">
        <div class="col"><img src="/assets/Grocery.webp" alt="" width="64px" height="64px"><div class="anchor"><a href="#">Grocery</a></div></div>
        <div class="col"><img src="/assets/Mobiles.webp" alt="" width="64px" height="64px"><div class="anchor"><a href="#">Mobiles</a></div></div>
        <div class="col"><img src="/assets/Fashion.webp" alt="" width="64px" height="64px"><div class="anchor"><a href="#">Fashion</a><mat-icon class="down_arrow">keyboard_arrow_down</mat-icon></div></div>
        <div class="col"><img src="/assets/Electronics.webp" alt="" width="64px" height="64px"><div class="anchor"><a href="#">Electronics</a><mat-icon class="down_arrow">keyboard_arrow_down</mat-icon></div></div>
        <div class="col size"><img src="/assets/Home.webp" alt="" width="64px" height="64px"><div class="anchor"><a href="#">Furniture</a><mat-icon class="down_arrow">keyboard_arrow_down</mat-icon></div></div>
        <div class="col"><img src="/assets/Appliances.webp" alt="" width="64px" height="64px"><div class="anchor"><a href="#">Appliances</a></div></div>
        <div class="col"><img src="/assets/Travel.webp" alt="" width="64px" height="64px"><div class="anchor"><a href="#">Travel</a></div></div>
        <div class="col"><img src="/assets/Topoffers.webp" alt="" width="64px" height="64px"><div class="anchor"><a href="#">Top Offers</a></div></div>
        <div class="col size"><img src="/assets/beauty.webp" alt="" width="64px" height="64px"><div class="anchor"><a href="#">Beauty&Toys</a><mat-icon class="down_arrow">keyboard_arrow_down</mat-icon></div></div>
        <div class="col"><img src="/assets/twowheelers.webp" alt="" width="64px" height="64px"><div class="anchor"><a href="#">Bikes</a><mat-icon class="down_arrow">keyboard_arrow_down</mat-icon></div></div>
    </div>
</div>
