
    <div class="container-fluid footer">
        <div class="row child">
            <div class="col">
                <p class="head">ABOUT</p>
                <ul class="list-unstyled lists">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Flipkart Stories</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Flipkart Wholesale</a></li>
                    <li><a href="#">Corporate Information</a></li>
                </ul>
            </div>
            <div class="col">
                <p class="head">HELP</p>
                <ul class="list-unstyled lists">
                    <li><a href="#">Payments</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Cancellation & Returns</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Report Infringement</a></li>

                </ul>
            </div>
            <div class="col">
                <p class="head">CONSUMER POLICY</p>
                <ul class="list-unstyled lists">
                    <li><a href="#">Return Policy</a></li>
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Grievance Redressal</a></li>
                    <li><a href="#">EPR Compliance</a></li>
                </ul>
            </div>
            <div class="col ">
                <p class="head">SOCIAL</p>
                <ul class="list-unstyled lists">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Youtube</a></li>

                </ul>
            </div>
            <div class="col vertical ">
                <p class="head">Mail Us:</p>
                <p class="lists">Flipkart Internet Private Limited,

                    Buildings Alyssa, Begonia &

                    Clove Embassy Tech Village,

                    Outer Ring Road, Devarabeesanahalli Village,

                    Bengaluru, 560103,

                    Karnataka, India</p>
            </div>

            <div class="col">
                <p class="head">Registered Office Address:</p>
                <p class="lists">Flipkart Internet Private Limited,

                    Buildings Alyssa, Begonia &

                    Clove Embassy Tech Village,

                    Outer Ring Road, Devarabeesanahalli Village,

                    Bengaluru, 560103,

                    Karnataka, India

                    CIN : U51109KA2012PTC066107

                    Telephone: 044-45614700</p>
            </div>
        </div>
        <div class="hr"></div>
        <div class="row childtwo">
            <div class="col"><img src="/assets/become a seller.svg"><a href="#">Become a Seller</a></div>
            <div class="col"><img src="/assets/Advertise.svg"><a href="#">Advertise</a> </div>
            <div class="col"><img src="/assets/giftcards.svg"><a href="#">Gift Cards</a> </div>
            <div class="col"><img src="/assets/helpcenter.svg"><a href="#">Help Center</a> </div>
            <div class="col copy">© 2007-2023 Flipkart.com</div>
            <div class="col"><img class="visa" src="/assets/visa.svg"></div>
        </div>
    </div>
